<%= turbo_frame_tag 'members_section' do %>
  <div class="new-members-title"><%= t('.new_member') %></div>

  <%= form_with model: @member, data: { turbo: false }, class: 'new-members-form' do |f| %>
    <div>
      <div class="new-members-field">
        <%= f.label :id_card_number %>
        <%= f.text_field :id_card_number, autofocus: true, autocomplete: "id_card_number", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :id_card_number) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :email) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :phone %>
        <%= f.phone_field :phone, autofocus: true, autocomplete: "phone", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :phone) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :name) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :address %>
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :address) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :birth_date) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em class='text-sm m-auto'>(<%= t('.characters_minimum', length: @minimum_password_length) %>)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :password) %></div>
    </div>

    <div>
      <div class="new-members-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'field_input' %>
      </div>
      <div class="new-members-error"><%= invalid_msg(@member, :password_confirmation) %></div>
    </div>

    <%= f.submit t('.create_members'), class: 'new-members-button' %>
  <% end %>
<% end %>