<div class='entire_form'>
  <div class='form_title'><%= t('.managers_sign_in')%></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form_helper' }) do |f| %>
    <div class="field">
      <%= f.label :id_card_number %>
      <%= f.text_field :id_card_number, autofocus: true, autocomplete: "id_card_number", class: 'field_input' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'field_input' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label t('.remember_me') %>
      </div>
    <% end %>

    <%= f.submit t('.sign_in'), class: 'button' %>
  <% end %>

  <%= render "devise/managers/shared/links" %>
</div>

