<!DOCTYPE html>
<html>
  <head>
    <title>CiHangTemple</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex justify-center items-center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%# TODO: 另外用 view_component 做有無登入的顯示狀態 %>
    <% if current_manager %>
      <%= current_manager.name %>
      <%= link_to '登出', destroy_manager_session_path, data: { turbo_method: 'delete' } %>
    <% else %>
      <%= link_to '登入', new_manager_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
